h4{
    display: inline-block;
    padding-right: 20px;
}
.main{
    text-align: left; 
    padding-left: 200px;
}
.main p, .main ul{
    width: 800px; 
    text-align: justify;
}
.main h2{
    background-color: aqua;
    width: 400px;
    padding-left: 20px;
}